section {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: relative;

    .bg__text{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 400px;
        color: #000000;
        top: calc(50% - 180px);
        p{
            font-size: 250px;
            font-family: 'Abel', sans-serif;
            text-transform: uppercase;
            text-align: center;
            opacity: 0.06;
            margin: 0;
        }

        @media only screen and (max-width: 400px) {
            p {
                font-size: 280px;
                line-height: .8;
                opacity: 0.04;
            }
        }
    }
}