/*Fonts*/
$abel: 'Abel', sans-serif;
$alegre: 'Alegreya Sans', sans-serif;
$pt: 'PT Sans', sans-serif;
/*Colors*/
$abel: 'Abel';
$hel-b75: 'HelveticaNeue75';
$hel-l45: 'HelveticaNeueL45';
$black: #0f0f0f;
$dark-black: #000;
$white: #fff;
$gray: #aaa;