<app-menu></app-menu>

<section>
    <div class="bg__text">
        <p>About Me</p>
    </div>

    <div class="container-intern">
        <mat-tab-group>
            <mat-tab label="Develop">
                <h4>What i do</h4>
                <h3>WEB DEVELOPER</h3>
                <p>My job as a web developer is to create functional, captivating experiences that fulfill the needs of clients and users. I work hard to create modern, accessible, highly functional websites and applications that make the web a better place for users.</p>
            </mat-tab>
            <mat-tab label="Design">
                <h4>What i do</h4>
                <h3>WEB DEVELOPER</h3>
                <p>My job as a web developer is to create functional, captivating experiences that fulfill the needs of clients and users. I work hard to create modern, accessible, highly functional websites and applications that make the web a better place for users.</p>
            </mat-tab>
            <mat-tab label="Collaborate">
                <h4>What i do</h4>
                <h3>WEB DEVELOPER</h3>
                <p>My job as a web developer is to create functional, captivating experiences that fulfill the needs of clients and users. I work hard to create modern, accessible, highly functional websites and applications that make the web a better place for users.</p>
            </mat-tab>
        </mat-tab-group>
    
        <div class="profile_picture">
            <div class="container"></div>
        </div>
    </div>


</section>